.container{
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    margin: 70px;
    width: 100%;
}
ul{
    list-style: none;
}


.filter-menu{
    margin-bottom: 0px;
    padding: 15px 50px;
    align-items: center;
    justify-content: center;
}

.filter-menu li {
    display: inline-block;
    width: 20%;
    margin: 20;
    padding: 10px 50px;
    align-items: center;
    justify-content: center;
    background: #be701700;
    color:#fff;
    cursor: pointer;
}

.filter-menu li:hover,
.filter-menu li.active{
    background: #aa9493;   
}

.filter-item li{
    width: 30%;
    padding: 5px;
    float: left;
}


.filter-item li.active{
    width: 30%;
    padding: 5px;
    transition: all.5s ease;
}


.filter-item li.delete{
    width: 0%;
    padding: 0;
}

.filter-item img{
    display: block;
    margin: 50px;
    width:  50px;
    height: 100px;
    border: 1px solid rgb(230, 226, 177);
    border-radius: 5px;
}    
