.container{
    max-width: 1200px;
    margin: auto;
    padding: 50px 50px ;
}
ul{
    list-style: none;
}
img{
    width: 40%;
    height: 50%;
    margin: 20px;
    border: 2px solid rgb(230, 226, 177);
}

.filter-menu{
    margin-bottom: 20px;
}

.filter-menu li {
    display: inline-block;
    padding: 10px 85px;
    align-items: center;
    justify-content: center;
    background: #f5c18500;
    color:#fff;
    cursor: pointer;
}

.filter-menu li:hover,
.filter-menu li.active{
    background: #aa9493;   
}

.filter-item li{
    width: 20%;
    padding: 4px;
    float: left;
}


.filter-item li.active{
    width: 30%;
    padding: 3px;
    transition: all.5s ease;
}


.filter-item li.delete{
    width: 0%;
    padding: 0;
}

.filter-item img{
    display: block;
    width: 60%;
    height: 160px;
    border: 1px solid rgb(230, 226, 177);
    border-radius: 5px;
}    
