:root{
    --orange:#ff7800; 
    --black:#130f40;
    --light-color:#666;
    --light-hover:#2ecc71;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:1rem solid rgba(0,0,0,.1);
    --outline-hover:1rem solid var(--black);
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--black);
    width:100%;
    bottom: 0;
}

.footer img{
    filter: invert(1);
    max-width: 4px;
}

.copyrightText{
    margin-top: 20px;
    color: var(--orange);
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

