.btn{
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 2;
    width: 20px;
    height: 20px;
}

.btn span{
    width: 20px;
    height: 2px;
    background: #000;
    position: absolute;
    transition: .3s;
}

.btn span:nth-child(1){
    top: 20%;
}

.btn span:nth-child(2){
    top: 40%;
}

.btn span:nth-child(3){
    top: 60%;
}

.btn .is-active span{
    background: #fff;
}

.btn .is-active span:nth-child(1){
    top: 50%;
    transform: rotate(-45deg);
}

.btn .is-active span:nth-child(2){
    top: 50%;
    transform: rotate(45deg);
}
.btn .is-active span:nth-child(3){
    top: 50%;
    transform: rotate(45deg);
}

.menu{
    background: #171717;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 100px;
    z-index: 1;
    transition: .3s;
    opacity: 0;
    visibility: inherit;
}

.menu.is-active{
    opacity: 1;
    visibility: visible;
}
.menu__list{
    display: flex;
    flex-direction: column;
    list-style-type: none;   
}

.menu__item:not(:last-child){
    margin-bottom: 30px;
}

.menu__link{
    position: relative;
    display: inline-flex;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: aliceblue;
}

.menu__link::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 5px;
    width: 0;
    display: inline-flex;
    transition: .3s;
    background: rgb(252, 216, 15);
}

.menu__link:hover:after{
    width: 100%;
}