:root{
    --orange:#ff7800; 
    --black:#130f40;
    --light-color:#666;
    --light-hover:#2ecc71;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:1rem solid rgba(0,0,0,.1);
    --outline-hover:1rem solid var(--black);
}

.ofertas-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.icon-image{
    position: relative;
    width: 100px;
    height: 100px;
    background: var(--light-color);
    border-radius: 50%; 
    margin:  10px;
}


.icon-image img {
    position: absolute;
    width: 95%;
    height: 95%;
    left: 50%;
    transform: translate(-50%,-2%);
    object-fit: cover;
    border-radius:50%;
    border: 3px solid var(--orange);
   
}

