:root{
    --orange:#ff7800; 
    --black:#130f40;
    --light-color:#666;
    --light-hover:#2ecc71;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:1rem solid rgba(0,0,0,.1);
    --outline-hover:1rem solid var(--black);
}
.ofertas-content{
    display: flex;
    grid-template-columns: repeat(2fr);
    gap: 2rem;
    padding: 10px 30px;
    min-width: 100%;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ofertas-box{
    display: flex;
    
    align-items: center;
    text-align: center;
    padding: 5px 5px ;
    border-radius: 14px;
    background-color: var(--black);
}

.ofertas-box img{
    
    width: 120px;
    height: 120px;
}