:root{
    --orange:#ff7800; 
    --black:#130f40;
    --light-color:#666;
    --light-hover:#2ecc71;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:1rem solid rgba(0,0,0,.1);
    --outline-hover:1rem solid var(--black);
}

@media (max-width:991px){
    html {
        font-size: 105%;
    }
    .header{
        padding: 2rem;
    }
}


@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }
    .header{
        padding: 2rem;
    }
    section {
        padding: 2rem ;
    }
}

@media (max-width:450px){
    html {
        font-size: 50%;
    }
    .header{
      width: 100%;
    }

}

