
@media(max-width:600px){
   .container{
        width: 70%;
        margin:  3px 5px;
    } 
     section #galery{
        width: 20%;
        left: 3px;
    }
    .navigation{
        width: 120%;
        margin: 3px;
    }
    
  
}
