
section{
    position: relative;
    top: 800px;
    right: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section #galery{
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 200px;
    object-fit: cover;
}

section .navigation{
    position: absolute;
    top: 200px;
    left: 15px;
    bottom: 5px;
    transform: translateX(-50%);
    z-index: 0;
    display: flex;
}

section .navigation li{
    list-style: none;
    cursor: pointer;
    margin: 5px;

}    

section .navigation li img{
    width: 50px;
    border: 1px solid rgb(230, 226, 177);
    border-radius: 10px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
