:root{
    --orange:#ff7800; 
    --black:#130f40;
    --light-color:#666;
    --light-hover:#2ecc71;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:1rem solid rgba(0,0,0,.1);
    --outline-hover:1rem solid var(--black);
}

body{
    display: block;
    background-color: #eee;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 2%;
    background-color: var(--light-color);
    box-shadow: var(--box-shadow);
}
.header .navbar {
    position: absolute;
    top: 15%;
    right: -100%;
    width: 15rem;
    height: 200%;
    box-shadow: var(--box-shadow);
    border-radius: .55rem;
    background: #fff;
    border-top: 1rem solid var(--black);
    align-items: center;
    text-align: center;
}
.header .navbar a {
    font-size:  2.5rem;
    padding: 0 1.2rem;
    display: block;
    text-decoration: none;
}

.header .navbar a:active{
    font-size: 2.2rem;
    margin: 5 1rem;
    color: var(--black);
}

.header .navbar a:hover{
    color: var(--orange);
}

.header .logo i{
    font-size: 1.8rem;
    font-weight: bolder;
    padding: 7px;
    color: var(--black);
}

.header .logo i{
    color: var(--orange);   
}

.header .logo  p{
    display: contents;
    font-size: 25px;
    color: var(--light-hover);
}

.header .logo p:hover{
    color: var(--black);
}

.header .icons div{
    height: 6.3rem;
    width: 3.5rem;
    line-height: 5.5rem;
    border-radius: .5rem;
    background: var(--black);
    color: #eee;
    font-size: 2rem;
    margin-right: 1.3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover{
    background: var(--orange);
    color: #fff;
}

.header .shopping-cart{
    position: absolute;
    top: 100%;
    right: -150%;
    padding: 1rem;
    box-shadow: var(--box-shadow);
    width: 10rem;
    background: #fff;
}

.header .shopping-cart .box{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem;
}

.header .shopping-cart .box img{
    height: 10rem;
}

.header .shopping-cart .box .fa-trash{
    font-size: 2rem;
    position: absolute;
    top: 5%;
    right: 2rem;
    cursor: pointer;
    color: var(--light-hover);
    transform: translateY(-50%);
}


.header .shopping-cart .box .fa-trash:hover{
    color: red;
}

.header .shopping-cart .box .content h3{
    color: var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span{
    color: var(--light-color);
    font-size: 1.6rem;
}

.header .shopping-cart .box .content .quantify{
    padding-left: 1rem;
}

.header .shopping-cart a{
    font-size: 3rem;
    padding: 5px;
    text-align: center;
    color: var(--black);
    border-radius: 15px;
    border:3px solid var(--black);
    text-transform:uppercase ;
    
}

.header .shopping-cart a:hover{
    color: var(--light-hover);
}

.header .shopping-cart.active{
    right: 2rem;
    transition: .4s linear;
    
}
.header .navbar.active{
    right: 2rem;
    transition: .4s linear;
}

section{
    padding: 1rem 2%;
}

section .btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 0.2rem;
    font-size: 1.3rem;
    border:  2rem ;
    cursor: pointer;
    background: var(--light-color);
}

section .btn:hover{
    color: var(--orange);
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #130f40;
    padding-top:7.5rem;
    padding-bottom: 0.5rem;
    
}

.home .content{
    text-align: center;
    width: 60rem;
}

.home .content  h3{
    color: #eee;
}

.home .content h3 span{
    color: var(--light-hover);
    font-size: 1.3rem;
    padding: 10rem 0;
}

.home .content p{
    color: var(--orange);
}

.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom:3rem;
    font-size: 2.5rem;
    color: var(--black);
}

.heading span{
    background: var(--black);
    color: #fff;
    display: inline-block;
    padding: 1rem 13rem;
    clip-path: polygon(100% 0 , 93% 50% , 100% 99%, 0% 100%,7% 50%, 0% 0%);
}

.heading span:hover{
    color: var(--orange);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: 2rem solid var(--black);
    color: var(--black);
    cursor: pointer;
}

.item{
    padding: 10px 30px;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;
}

.item ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.item ul li {
    list-style: none;
    background: var(--light-color);
    padding: 12px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}

.item ul li:hover {
    color: var(--orange);
}

.item ul li.active{
    background: var(--black);
    
}


