:root{
    --orange:#ff7800; 
    --black:#130f40;
    --light-color:#666;
    --light-hover:#2ecc71;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:1rem solid rgba(0,0,0,.1);
    --outline-hover:1rem solid var(--black);
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    border: none;
    box-sizing: border-box;
    transition: all .2s linear;
}
body{
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

html{
    font-size: 80.5%;
    overflow-x: hidden;
    
}
.mainbox{
    top: 0;
    right: 0;
    padding-left: 90%;
    width: 300px;
    height: 100%;
    font-size: 25px;
}


section{
    padding: 5rem 2%;
}

section .btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 0.2rem;
    font-size: 1.3rem;
    border:  2rem ;
    cursor: pointer;
    background: var(--light-color);
}

section .btn:hover{
    color: var(--orange);
}

.home{
    width: 100%;
    background: var(--black);
    display: flex;
}

.home .content{
    text-align: center;
    align-items: center;
    width: 150rem;
}

.home .content  h3{
    color: #eee;
    
}

.home .content h3 span{
    color: var(--light-hover);
    font-size: 1.3rem;
    padding: 10rem 0;
}

.home .content p{
    color: var(--orange);
}

.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom:15rem;
    font-size: 5.5rem;
    color: var(--black);
}

.heading span{
    background: var(--black);
    color: #fff;
    display: inline-block;
    padding: 1rem 13rem;
    clip-path: polygon(100% 0 , 93% 50% , 100% 99%, 0% 100%,7% 50%, 0% 0%);
}

.heading span:hover{
    color: var(--orange);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: 2rem solid var(--black);
    color: var(--black);
    cursor: pointer;
}

.item{
    padding: 10px 30px;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
}

.item ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin-bottom: 20px;
}
.item ul li {
    list-style: none;
    background: var(--light-color);
    padding: 12px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}

.item ul li:hover {
    color: var(--orange);
}

.item ul li.active{
    background: var(--black);
    
}


